extends layout

block content
  img(src="/stylesheets/images/HomeIQ.png" alt="Bedroom Lights" width="200" height="200" align="center")
     ul
        each result, i in results
            div
                p #{i+1}: #{result.deviceName}
                if result.deviceName == "Bedroom Overhead"
                    img(src="/stylesheets/images/lamp-2.png" alt="Bedroom Lights" width="100" height="140" align="left" style="PADDING-RIGHT: 25px")
                    li  Type of Bulb : #{result.bulbType}
                    li  Bulb Wattage : #{result.bulbWattage}
                    li  Last ON :  #{result.lastOnTime}
                    li  Last OFF : #{result.lastOffTime}
                    li  Daily Duration : #{moment().startOf('day').seconds(result.dailyDuration).format('H:mm:ss')}
                    li  Monthly Duration : #{moment().startOf('day').seconds(result.monthlyDuration).format('H:mm:ss')}
                    li  Current Status : #{result.status}
                if result.deviceName == "Buffet Lights"
                    img(src="/stylesheets/images/lamp.png" alt="Buffet Lights" width="100" height="140" align="left" style="PADDING-RIGHT: 25px")
                    li  Type of Bulb : #{result.bulbType}
                    li  Bulb Wattage : #{result.bulbWattage}
                    li  Last ON :  #{result.lastOnTime}
                    li  Last OFF : #{result.lastOffTime}
                    li  Daily Duration : #{moment().startOf('day').seconds(result.dailyDuration).format('H:mm:ss')}
                    li  Monthly Duration : #{moment().startOf('day').seconds(result.monthlyDuration).format('H:mm:ss')}
                    li  Current Status : #{result.status}
                if result.deviceName == "Home Theater Front Lights"
                    img(src="/stylesheets/images/lamp-2.png" alt="Front Lights" width="100" height="140" align="left" style="PADDING-RIGHT: 25px")
                    li  Type of Bulb : #{result.bulbType}
                    li  Bulb Wattage : #{result.bulbWattage}
                    li  Last ON :  #{result.lastOnTime}
                    li  Last OFF : #{result.lastOffTime}
                    li  Daily Duration : #{moment().startOf('day').seconds(result.dailyDuration).format('H:mm:ss')}
                    li  Monthly Duration : #{moment().startOf('day').seconds(result.monthlyDuration).format('H:mm:ss')}
                    li  Current Status : #{result.status}
                if result.deviceName == "Chandelier"
                    img(src="/stylesheets/images/lamp.png" alt="Chandelier" width="100" height="140" align="left" style="PADDING-RIGHT: 25px")
                    li  Type of Bulb : #{result.bulbType}
                    li  Bulb Wattage : #{result.bulbWattage}
                    li  Last ON :  #{result.lastOnTime}
                    li  Last OFF : #{result.lastOffTime}
                    li  Daily Duration : #{moment().startOf('day').seconds(result.dailyDuration).format('H:mm:ss')}
                    li  Monthly Duration : #{moment().startOf('day').seconds(result.monthlyDuration).format('H:mm:ss')}
                    li  Current Status : #{result.status}
                if result.deviceName == "Second Basement Dimmer"
                    img(src="/stylesheets/images/lamp-2.png" alt="Basement Dimmer" width="100" height="140" align="left" style="PADDING-RIGHT: 25px")
                    li  Type of Bulb : #{result.bulbType}
                    li  Bulb Wattage : #{result.bulbWattage}
                    li  Last ON :  #{result.lastOnTime}
                    li  Last OFF : #{result.lastOffTime}
                    li  Daily Duration : #{moment().startOf('day').seconds(result.dailyDuration).format('H:mm:ss')}
                    li  Monthly Duration : #{moment().startOf('day').seconds(result.monthlyDuration).format('H:mm:ss')}
                    li  Current Status : #{result.status}







