extends layout

block content
  h1= title
    ul
      each result, i in results
          p #{i+1}: #{result.deviceName}
           li  Type of Bulb : h4 #{result.bulbType}
           li  Bulb Wattage : h4 #{result.bulbWattage}
           li  Last ON : h4 #{result.lastOnTime}
           li  Last OFF : #{result.lastOffTime}
           li  Daily Duration : #{result.dailyDuration}
           li  Monthly Duration : #{result.monthlyDuration}
           li  Current Status : #{result.status}







