extends layout

block content
  h1= title
    each result, i in results
        #container.col
          p #{i+1}: #{result.deviceName}
             Type of Bulb : #{result.bulbType}
             #{result.bulbWattage}
             #{result.lastOnTime}
             #{result.lastOffTime}
             #{result.dailyDuration}
             #{result.monthlyDuration}







