extends layout

block content
  h1= title
  ul
  each result, i in results
    li #{i} . #{result.deviceName}
        li #{result.bulbType}
        li #{result.bulbWattage}
        li #{result.lastOnTime}
        li #{result.lastOffTime}
        li #{result.dailyDuration}
        li #{result.monthlyDuration}
        li #{result.yearlyDuration}





