extends layout

block content
  h1= Energy Web Prototype
  ul
    #container.col
        each result, i in results
            li #{result.deviceName}
            li #{result.bulbType}
            li #{result.bulbWattage}
            li #{result.lastOnTime}
            li #{result.lastOffTime}
            li #{result.dailyDuration}
            li #{result.monthlyDuration}







