extends layout

style
    h1 {
        font-size: 19px;
        color: #464646;
    }
    p {
        font-size: 12px;
        color: #460026
    }
block content
  h1= title
  ul
    #container.col
    each result, i in results

        p #{i} . #{result.deviceName}
            li #{result.bulbType}
            li #{result.bulbWattage}
            li #{result.lastOnTime}
            li #{result.lastOffTime}
            li #{result.dailyDuration}
            li #{result.monthlyDuration}







